{% extends 'master.html' %}
{% block content %}
<div class="container">
        <h2>Staff </h2>  
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>email-id</th>
                <th>Today's collection</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody id="myTable">
              {%for x in data%}
              <tr>
                <td>{{x[0]}}</td>
                <td>{{x[1]}}</td>
                <td>{{x[2]}}</td>
                <td>{{x[3]}}</td>
                <td>{{x[4]}}</td>
                <td><a href="{{url_for('admin.staff_remove', id = x[0])}}">Remove</a></td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
        <button class="btn btn-dark" onclick="window.location.href='{{url_for('admin.staff_add')}}'">Add staff</button>
      </div>
      
      <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>
{% endblock %}