{% extends "user/login.html" %}
{% block content %}
<form class="form-horizontal" method="POST">
    <div class="form-group row">
        <label for="emailid" class = "col col-form-label col-4 text-white">Email id:</label>
        <div class = "col col-lg">
            <input type="emailid" class="form-control s" style="padding: 0;" name="emailid" id = "emailid" placeholder="email-id" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="username" class = "col col-form-label col-4 text-white"></label>
        <div class = "col col-lg">
            <input type="submit" value = "Submit" class="form-control btn-success">
        </div>
    </div>
    <div class="text-white"> Password will be sent to your email id.  </div>
</form>
{% endblock %}